<div class="page-content mdl-grid">
    <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp mdl-color--grey-200">
        <div class="mdl-layout__header-row mdl-color--yellow">
            <h3>미확정 작업</h3>
        </div>
        <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
            <div class="mdl-tabs__tab-bar mdl-color--white">
                <a href="#test-panel1" class="mdl-tabs__tab is-active">
                    <span class="mdl-badge" data-badge="1">펀딩 프로젝트</span>
                </a>
                <a href="#test-panel2" class="mdl-tabs__tab">
                    <span class="mdl-badge" data-badge="3">의뢰 프로젝트</span>
                </a>
            </div>
            <div class="mdl-tabs__panel is-active" id="test-panel1">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp mdl-color--white mdl-card">
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--4-col product-image">
                                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/kung-fu.jpg" alt=""
                                     style="max-width: 100%;"/>
                            </div>
                            <div class="mdl-cell mdl-cell--8-col">
                                <h4>
                                    <span class="mdl-badge" data-badge="승인">펀딩 프로젝트 1</span>
                                </h4>
                                <dl>
                                    <dt>기간</dt>
                                    <dd>
                                        2015.11.21 - 2015.11.25
                                    </dd>
                                    <dt>참여인원</dt>
                                    <dd><span> 최동조 </span><span> 김경환 </span><span> 박소희 </span></dd>
                                    <dt>현재포인트</dt>
                                    <dd>
                                        30000 Point
                                    </dd>
                                </dl>

                                <a class="mdl-button mdl-button--raised mdl-button--colored"
                                   href="#/inpreparation/funding/3">Test Button</a>
                            </div>

                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp mdl-color--white mdl-card">
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--4-col product-image">
                                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/kung-fu.jpg" alt=""
                                     style="max-width: 100%;"/>
                            </div>
                            <div class="mdl-cell mdl-cell--8-col">
                                <h4>
                                    <span class="mdl-badge" data-badge="진행">펀딩 프로젝트 1</span>
                                </h4>
                                <dl>
                                    <dt>기간</dt>
                                    <dd>2015.11.21 - 2015.11.25</dd>
                                    <dt>참여인원</dt>
                                    <dd><span> 최동조 </span><span> 김경환 </span><span> 박소희 </span></dd>
                                    <dt>현재포인트</dt>
                                    <dd>30000 Point</dd>
                                </dl>
                                <a class="mdl-button mdl-button--raised mdl-button--colored"
                                   href="#/inpreparation/funding/3">Test Button</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mdl-tabs__panel" id="test-panel2">
                <div class="mdl-grid">
                    <div class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--2dp">
                        <div class="mdl-card__title mdl-card--expand">
                            <h4>
                                <span class="mdl-badge" data-badge="승인">의뢰 프로젝트 1</span>
                            </h4>
                        </div>
                        <div class="mdl-card__supporting-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Aenan convallis.
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                               href="#/inpreparation/request/3">
                                상세보기
                            </a>
                        </div>
                    </div>
                    <div class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--2dp">
                        <div class="mdl-card__title mdl-card--expand">
                            <h4>
                                <span class="mdl-badge" data-badge="거절">의뢰 프로젝트 2</span>
                            </h4>
                        </div>
                        <div class="mdl-card__supporting-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Aenan convallis.
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                               href="#/inpreparation/request/3">
                                상세보기
                            </a>
                        </div>
                    </div>
                    <div class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--2dp">
                        <div class="mdl-card__title mdl-card--expand">
                            <h4>의뢰 프로젝트3</h4>
                        </div>
                        <div class="mdl-card__supporting-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Aenan convallis.
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                               href="#/inpreparation/request/3">
                                상세보기
                            </a>
                        </div>
                    </div>
                    <div class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--2dp">
                        <div class="mdl-card__title mdl-card--expand">
                            <h4>
                                <span class="mdl-badge" data-badge="승인">의뢰 프로젝트 4</span>
                            </h4>
                        </div>
                        <div class="mdl-card__supporting-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Aenan convallis.
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                               href="#/inpreparation/request/3">
                                상세보기
                            </a>
                        </div>
                    </div>
                    <div class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--2dp">
                        <div class="mdl-card__title mdl-card--expand">
                            <h4>
                                의뢰 프로젝트 5
                            </h4>
                        </div>
                        <div class="mdl-card__supporting-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Aenan convallis.
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                               href="#/inpreparation/request/3">
                                상세보기
                            </a>
                        </div>
                    </div>
                    <div class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--2dp">
                        <div class="mdl-card__title mdl-card--expand">
                            <h4>의뢰 프로젝트6</h4>
                        </div>
                        <div class="mdl-card__supporting-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Aenan convallis.
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                               href="#/inpreparation/request/3">
                                상세보기
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>