<div class="page-content mdl-grid">
    <div class="mdl-cell mdl-cell--6-col mdl-color--white mdl-shadow--2dp">
        Content 1
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp mdl-color--grey-200">
        <div class="mdl-"></div>
        <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
            <div class="mdl-tabs__tab-bar mdl-color--white">
                <a href="#test-panel1" class="mdl-tabs__tab is-active">Test-Panel1</a>
                <a href="#test-panel2" class="mdl-tabs__tab">Test-Panel2</a>
                <a href="#test-panel3" class="mdl-tabs__tab">Test-Panel3</a>
            </div>
            <div class="mdl-tabs__panel is-active" id="test-panel1">
                <table class="mdl-data-table mdl-js-data-table mdl-cell mdl-cell--12-col mdl-shadow--2dp">
                    <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric" style="width: 10%;">1카테고리</th>
                        <th class="mdl-data-table__cell--non-numeric" style="width: 90%;">프로젝트 이름</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric" style="width: 10%;">옷</td>
                        <td class="mdl-data-table__cell--non-numeric" style="width: 90%;">옷좀 만들어 주세요~</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric" style="width: 10%;">옷</td>
                        <td class="mdl-data-table__cell--non-numeric" style="width: 90%;">옷좀 만들어 주세요~</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric" style="width: 10%;">옷</td>
                        <td class="mdl-data-table__cell--non-numeric" style="width: 90%;">옷좀 만들어 주세요~</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="mdl-tabs__panel" id="test-panel2">
                <table class="mdl-data-table mdl-js-data-table mdl-cell mdl-cell--12-col mdl-shadow--2dp">
                    <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric" style="width: 10%;">2카테고리</th>
                        <th class="mdl-data-table__cell--non-numeric" style="width: 90%;">프로젝트 이름</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric" style="width: 10%;">옷</td>
                        <td class="mdl-data-table__cell--non-numeric" style="width: 90%;">옷좀 만들어 주세요~</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric" style="width: 10%;">옷</td>
                        <td class="mdl-data-table__cell--non-numeric" style="width: 90%;">옷좀 만들어 주세요~</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric" style="width: 10%;">옷</td>
                        <td class="mdl-data-table__cell--non-numeric" style="width: 90%;">옷좀 만들어 주세요~</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="mdl-tabs__panel" id="test-panel3">
                <table class="mdl-data-table mdl-js-data-table mdl-cell mdl-cell--12-col mdl-shadow--2dp">
                    <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric" style="width: 10%;">3카테고리</th>
                        <th class="mdl-data-table__cell--non-numeric" style="width: 90%;">프로젝트 이름</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric" style="width: 10%;">옷</td>
                        <td class="mdl-data-table__cell--non-numeric" style="width: 90%;">옷좀 만들어 주세요~</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric" style="width: 10%;">옷</td>
                        <td class="mdl-data-table__cell--non-numeric" style="width: 90%;">옷좀 만들어 주세요~</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric" style="width: 10%;">옷</td>
                        <td class="mdl-data-table__cell--non-numeric" style="width: 90%;">옷좀 만들어 주세요~</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="page-content mdl-grid">
    <div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp mdl-color--grey-200">
        <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
            <div class="mdl-tabs__tab-bar mdl-color--white">
                <a href="#test-panel4" class="mdl-tabs__tab is-active">Test-Panel4</a>
                <a href="#test-panel5" class="mdl-tabs__tab">Test-Panel5</a>
                <a href="#test-panel6" class="mdl-tabs__tab">Test-Panel6</a>
            </div>
            <div class="mdl-tabs__panel is-active" id="test-panel4">
                <table class="mdl-data-table mdl-js-data-table mdl-cell mdl-cell--12-col mdl-shadow--2dp">
                    <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric" style="width: 10%;">카테고리</th>
                        <th class="mdl-data-table__cell--non-numeric" style="width: 90%;">프로젝트 이름</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric" style="width: 10%;">옷</td>
                        <td class="mdl-data-table__cell--non-numeric" style="width: 90%;">옷좀 만들어 주세요~</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric" style="width: 10%;">옷</td>
                        <td class="mdl-data-table__cell--non-numeric" style="width: 90%;">옷좀 만들어 주세요~</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric" style="width: 10%;">옷</td>
                        <td class="mdl-data-table__cell--non-numeric" style="width: 90%;">옷좀 만들어 주세요~</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="mdl-tabs__panel" id="test-panel5">
                <table class="mdl-data-table mdl-js-data-table mdl-cell mdl-cell--12-col mdl-shadow--2dp">
                    <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric" style="width: 10%;">카테고리</th>
                        <th class="mdl-data-table__cell--non-numeric" style="width: 90%;">프로젝트 이름</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric" style="width: 10%;">옷</td>
                        <td class="mdl-data-table__cell--non-numeric" style="width: 90%;">옷좀 만들어 주세요~</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric" style="width: 10%;">옷</td>
                        <td class="mdl-data-table__cell--non-numeric" style="width: 90%;">옷좀 만들어 주세요~</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric" style="width: 10%;">옷</td>
                        <td class="mdl-data-table__cell--non-numeric" style="width: 90%;">옷좀 만들어 주세요~</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="mdl-tabs__panel" id="test-panel6">
                <table class="mdl-data-table mdl-js-data-table mdl-cell mdl-cell--12-col mdl-shadow--2dp">
                    <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric" style="width: 10%;">카테고리</th>
                        <th class="mdl-data-table__cell--non-numeric" style="width: 90%;">프로젝트 이름</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric" style="width: 10%;">옷</td>
                        <td class="mdl-data-table__cell--non-numeric" style="width: 90%;">옷좀 만들어 주세요~</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric" style="width: 10%;">옷</td>
                        <td class="mdl-data-table__cell--non-numeric" style="width: 90%;">옷좀 만들어 주세요~</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric" style="width: 10%;">옷</td>
                        <td class="mdl-data-table__cell--non-numeric" style="width: 90%;">옷좀 만들어 주세요~</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp mdl-color--white mdl-card">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col ">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/kung-fu.jpg" alt=""
                     style="max-width: 100%;"/>
            </div>
            <div class="mdl-cell mdl-cell--8-col">
                <h2>Acme Product</h2>

                <p>My First Project</p>
                <button class="mdl-button mdl-button--raised mdl-button--colored">Test Button</button>
            </div>
        </div>
    </div>
</div>